strong {
  color: #cb4b16;
}

.reveal blockquote {
    border-left: solid 5px #cb4b16;
    padding-left: 1em;
    display: block;
    margin-inline-start: 2em;
}

.reveal h2 {
  color: #BE830E !important;
}

.reveal .footer a {
  color: #BE830E;
}

body > div.reveal.has-logo.focused.has-horizontal-slides.ready.fade > img {
  height: 2em;
  max-height: 100em;
}

th {
  background: #eee8d5;
}

tr:nth-child(even) {
    background: #eee8d5;
}

/* Display a PNG file as an icon. Use it as a class of an <img> element. */
.png-icon {
  height:1em;
  width:1em;
  vertical-align:-0.125em;
  margin-left:auto;
  margin-right:auto;
  font-size:inherit;
  fill:currentColor;
  overflow:visible;
  position:relative;
  margin-top:0px !important;
  margin-bottom:0px !important;
}

/* Cancel the bold color. */
.callout-title strong {
  color: black;
}

.title-slide-title {
  text-align: right;
}

.title-slide-event {
  color: #5A5A5A;
}

.title-slide-author {
  margin-top: 1em !important; 
  font-size: 0.9em !important;
}

.title-slide-org p{
  font-size: 0.9em;
}

.transition-slide {
  background-color: #F5EDDE!important;
  font-size: 120%;
  text-align: center
}